{% extends 'base.html' %}

{% block content %}
    <h1>WebNoteapp index</h1>
    <h2>{{ utc_dt }}</h2>
    {% for note in notes %}
        <h2>{{ note['title'] }}</h2>
        <a>
    <span class="badge badge-primary">{{ note['created'] }}</span>
    <a href="{{ url_for('edit', id=note[0]) }}">
        <span class="badge badge-warning"><i class="fa fa-edit"></i>Edit note</span>
        <span class="badge badge-warning"><i class="fa fa-trash"></i>Delete note</span>
    </a>
        <div style="padding: 10px; background-color: #EEE; margin: 20px">
            <p style="font-size: 24px">{{ note[2] }}</p>
        </div>

        {% endfor %}
{% endblock %}
